{% extends "base.html" %}

{% block title %}
    Login page
{% endblock %}

{% block content %}
    <h1>Login page</h1>


    <form id="login_form" action="/accounts/login/" method="POST">
        {#    {% csrf_token %}#}
        <ul>
            <li><label for="email">Email</label>
                <input type="email" name="email" placeholder="Email" required>
            </li>
            <li><label for="password">Password</label>
                <input type="password" name="password" placeholder="Password" required>
            </li>
            <li>
                <input type="submit" value="Login">
            </li>
        </ul>
    </form>
    <script>
        $('#login_form').submit(function(ev){
            requestForm(this, ev, "/accounts/storage_page/");
        });
    </script>





{% endblock %}