{% extends "base.html" %}

{% block title %}
    Signup page
{% endblock %}


{% block content %}
<h1>Signup page</h1>


<form id="signup_form" action="/accounts/" method="POST">
    {% csrf_token %}
    <ul>
        <li><label for="email">Email</label>
            <input type="email" name="email" placeholder="Email" required>
        </li>

        <li><label for="username">Username</label>
            <input type="text" name="username" placeholder="Username" required>
        </li>
        <li><label for="firstname">Firstname</label>
            <input type="text" name="firstname" placeholder="Firstname">
        </li>
        <li><label for="lastname">Lastname</label>
            <input type="text" name="lastname" placeholder="Lastname">
        </li>

        <li><label for="password">Password</label>
            <input type="password" name="password" placeholder="Password" required>
        </li>
        <li><label for="repeat_password">Repeat password</label>
            <input type="password" name="repeat_password" placeholder="Repeat password" required>
        </li>

        <li>
            <input type="submit" value="Signup">
        </li>
    </ul>
</form>
    <script>
        $('#signup_form').submit(function(ev){
            requestForm(this, ev, "/accounts/login_page/");
        });
    </script>


{% endblock %}