{% extends "base.html" %}

{% block title %}
    Account's storage
{% endblock %}

{% block content %}
    <h1>Account's storage</h1>
    <form id="upload_form" action="/accounts/files/" method="POST" enctype="multipart/form-data">
        <input type="file" id="file_to_upload">
        <input type="submit" value="Add file">
    </form>
    <table id="account_files"></table>

    <script>
        $('#upload_form').submit(function(ev){
            ev.preventDefault();
            if (!file_to_upload.files[0])
                return;
            var formData = new FormData();
            formData.append('file_to_upload', file_to_upload.files[0]);
            $.ajax({
                type: this.method,
                url: this.action,
                data: formData,
                contentType: false,
                // contentType: 'binary/octet-stream',
                processData: false
            }).done(function (data, textStatus, jqXH) {
                    switch (jqXH.status) {
                        case 201:
                            renderRow(data);
                            if (data['orig_file_location']) {
                                alert('File is duplicate of file ' + data['orig_file_location']
                                +' uploaded by ' + data['orig_file_username'])
                            }
                            break;
                    }
                }
            ).fail(function (jqXHR, textStatus, errorThrown) {
                    var json = $.parseJSON(jqXHR.responseText);
                    alert(json.message);
                }
            ).always( function(){
                $("#file_to_upload").val('');
            })
            ;
        });

        var get = function() {
            $.ajax({
                type: "GET",
                url: '/accounts/files/'
            }).done(
                function (data, textStatus, jqXH) {
                    switch (jqXH.status) {
                        case 200:
                            renderRows(data);
                            break;
                    }
                }
            ).fail(
                function (jqXHR, textStatus, errorThrown) {
                    var json = $.parseJSON(jqXHR.responseText);
                    alert(json.message);
                }
            );
        };
        $( get() );

        function createRow(row, r, j) {
            r[j++] = '<tr id=' + row['id'] + '><td>';
            r[j++] = row['name'];
            r[j++] = '</td><td>';
            r[j++] = '<a href="/accounts/files/' + row['id'] + '" onclick="del(event, this)">Delete</a>';
            r[j++] = '</td><td>';
            r[j++] = '<a href="/accounts/files/' + row['id'] + '">Download</a>';
            r[j++] = '</td></tr>';
            return j;
        }
        function deleteRow(rowId) {
            $("#"+rowId).remove();
        }
        function renderRow(row) {
            var r = [];
            createRow(row, r, 0);
            var lastTR = $("tr:last-child");
            if (lastTR.length) {
                $(r.join('')).insertAfter(lastTR);
            }
            else {
                $('#account_files').html(r.join(''));
            }
        }
        function renderRows(data) {
            var r = [], j = 0;
            for (var key = 0, size = data.length; key < size; key++) {
                j = createRow(data[key], r, j);
            }
            $('#account_files').html(r.join(''));
        }

        function del(ev, anchor_el) {
            ev.preventDefault();
            if (!confirm("Are you sure that you want to delete chosen file?"))
                return;

            $.ajax({
                type: "DELETE",
                url: anchor_el.href
            }).done(function (data, textStatus, jqXH) {
                    switch (jqXH.status) {
                        case 200:
                            deleteRow(anchor_el.parentElement.parentElement.id);
                            break;
                    }
                }
            ).fail(function (jqXHR, textStatus, errorThrown) {
                    var json = $.parseJSON(jqXHR.responseText);
                    alert(json.message);
                }
            );
        }
    </script>

{% endblock %}