<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <script src="/static/js/jquery-3.1.1.min.js"></script>
    <title>
        {% block title %}{% endblock %}
    </title>

</head>
<body>

<script>
    function serializeForm(form) {
        var unindexed_array = form.serializeArray();
        var indexed_array = {};
        $.map(unindexed_array, function (n, i) {
            if (n['value'])
                indexed_array[n['name']] = n['value'];
        });
        return JSON.stringify(indexed_array);
    }
    function requestForm(form, ev, next_url) {
        ev.preventDefault();
        $.ajax({
            type: "POST",
            url: form.action,
            data: serializeForm($(form)),
            dataType: "json",
            contentType: "application/json",
            processData: false
        }).done(function (data, textStatus, jqXH) {
            switch (jqXH.status) {
                case 200:
                    location = next_url;
                    break;
                case 201:
                    alert('Account has been created');
                    location = next_url;
                    break;
            }

        }).fail(function (jqXHR, textStatus, errorThrown) {
                    var json = $.parseJSON(jqXHR.responseText);
                    alert(json.message);
                }
        );

    }

</script>

{% if user.is_authenticated %}
    <a id="logout_anchor" href="/accounts/logout/">Logout</a>
    <a id="storage_page_anchor" href="/accounts/storage_page/">Storage</a>
    <script>
        $('#logout_anchor').click(function (e) {
            e.preventDefault();
            $.ajax({
                type: "POST",
                url: this.href,
                success: function (data) {
                    switch (data.status) {
                        case 200:
                            location = "/accounts/login_page/";
                            break;
                        default:
                            alert('Bad Request');
                    }
                }
            });
        });

    </script>
{% else %}
    <a href="/accounts/login_page/">Login</a>
    <a href="/accounts/signup_page/">Sign up</a>
{% endif %}


{% block content %}{% endblock %}

</body>
</html>